@charset "UTF-8";
}

#menuhorizontal {
    background-color: green;
}

#menuhorizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menuhorizontal li {
    float: left;
}

#menuhorizontal li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 20px;
}

#menuhorizontal li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

#menuhorizontal li.dropdown {
    display: inline-block;
}

#menuhorizontal .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

#menuhorizontal .dropdown-content a {
    color: black;
    padding: 18px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 22px;
}

#menuhorizontal .dropdown-content a:hover {
    background-color: #f1f1f1;
}

#menuhorizontal .dropdown:hover .dropdown-content {
    display: block;
}

#about {
    float: right;
}

#menuhorizontal img {
    width: 100%;
    max-height: 220px;
    object-fit: contain;
    display: block;
    background-color: green;
}
